* {
  font-family: monospace;
}

/* keranjang */
.list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  border-radius: 15px;
  padding: 30px 30px;
}
.list .item {
  text-align: center;
  background-color: #dce0e1;
  padding: 20px;
  box-shadow: 0 50px 50px #757676;
  letter-spacing: 1px;
}
.list .item img {
  padding-left: 20%;
  width: 80%;
}
.list .item .title {
  font-weight: 600;
}
.list .item .price {
  margin: 10px;
}
.list .item button {
  background-color: #1c1f25;
  color: #fff;
  width: 100%;
  padding: 10px;
}
.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 300px;
  background-color: #36383c;
  height: 100vh;
  transition: 0.5s;
}
.active .card {
  left: calc(100% - 300px);
}
.active .container {
  transform: translateX(-200px);
}

.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card .checkOut div {
  background-color: #c80909;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}
.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
}
.listCard li button {
  background-color: #fff5;
  border: none;
}
.listCard .count {
  margin: 0 10px;
}